__pycache__/
*.pyc
*.db
.ipynb_checkpoints/
.env
.vscode/
venv/
# Keep data and log directories but ignore their contents (except .gitkeep)
data/processed/*
!data/processed/.gitkeep
logs/*
!logs/.gitkeep
